<h1 class="text-center">Your Dashboard</h1>
<div class="text-center mb-4">
    <a href="/dashboard/new" class="btn btn-primary">New Post</a>
</div>

<div class="mt-4 container">
    {{#each posts}}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{this.title}}</h2>
                <p class="card-text">{{this.content}}</p>
                <footer class="blockquote-footer">Posted on {{this.createdAt}}</footer>
                <a href="/dashboard/edit/{{this.id}}" class="btn btn-secondary">Edit</a>
                <button class="btn btn-danger delete-post" data-id="{{this.id}}">Delete</button>
            </div>
        </div>
    {{/each}}
</div>
