<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tech Blog</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {{#if logged_in}}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link nav-link" id="logout">Logout</button>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="card mb-4">
            <div class="card-body">
                <h1 class="card-title">{{post.title}}</h1>
                <p class="card-text">{{post.content}}</p>
                <footer class="blockquote-footer">Posted by: {{post.user.username}} on {{post.createdAt}}</footer>
            </div>
        </div>

        <h3>Comments</h3>
        <div id="comment-section">
            {{#each comments}}
                <div class="comment card mb-2">
                    <div class="card-body">
                        <p class="card-text">{{this.comment_text}}</p>
                        <footer class="blockquote-footer">Commented by: {{this.user.username}} on {{this.createdAt}}</footer>
                    </div>
                </div>
            {{/each}}
        </div>

        {{#if logged_in}}
        <form id="new-comment-form">
            <div class="form-group">
                <textarea name="comment" class="form-control" placeholder="Add a comment" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{else}}
        <p>You need to <a href="/login">log in</a> to comment.</p>
        {{/if}}
    </div>
    <footer class="bg-dark text-white p-3 mt-5">
        <div class="container text-center">
            <p>&copy; 2024 Tech Blog. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/new-post.js"></script>
    <script src="/js/edit-post.js"></script>
    <script src="/js/comments.js"></script>
</body>
</html>
